# Dependencies
node_modules/
.pnpm-debug.log*

# Next.js Build Output
.next/
out/
build/

# Environment Variables (CRITICAL: Do not leak your DB credentials)
.env
.env.local
.env.production
.env.development.local

# Prisma
# We keep the schema, but ignore the generated client
node_modules/.prisma
/prisma/migrations/

# Debugging & Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# OS Metadata
.DS_Store
Thumbs.db

# IDX / VS Code settings
.vscode/
.idx/
